<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder></context:property-placeholder>



<!--    静态工厂方式-->
    <bean id="userDao1" class="com.lei.factory.MyBeanFactory1" factory-method="userDao"></bean>

    <!--    实例工厂方式-->
    <!--    配置工厂对象-->
<!--    <bean id="beanFactory2" class="com.lei.factory.MyBeanFactory2"></bean>-->
<!--    <bean id="userDao2" factory-bean="beanFactory2" factory-method="userDao"></bean>-->

<!--    FactoryBean方式实例-->
    <bean id="userDao3" class="com.lei.factory.MyBeanFactory3"></bean>

    <!--配置UserServiceImpl-->
    <bean id="userService" class="com.lei.service.impl.UserServiceImpl">
<!--        <constructor-arg name="name" value="lei"></constructor-arg>-->
<!--        <property name="userDao" ref="userDao"></property>-->
    </bean>

    <!--配置UserDaoImpl-->
    <bean id="userDao" class="com.lei.dao.impl.UserDaoImpl" init-method="init"></bean>

    <!--配置数据源信息-->
<!--    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">-->
<!--        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>-->
<!--        <property name="url" value="jdbc:mysql://localhost:3306/mybatis"></property>-->
<!--        <property name="username" value="root"></property>-->
<!--        <property name="password" value="root"></property>-->
<!--    </bean>-->

<!--    BeanFactoryPostProcessor-->
<!--    <bean class="com.lei.peocessor.MyBeanFactoryPostProcessor"></bean>-->
    <bean class="com.lei.peocessor.MyBeanDefinitionRegisteryPostProcessor"></bean>

<!--    自定义注解-->
    <bean class="com.lei.peocessor.MyComponentBeanFactoryPostProcessor"></bean>

    <!--BeanPostProcessor-->
<!--    <bean class="com.lei.peocessor.MyBeanPostProcessor"></bean>-->

    <!--TimeLog-->
    <bean class="com.lei.peocessor.TimeLogBeanPostPocessor"></bean>

</beans>